.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits-card {
    min-height: 100%;
    border: none;
    border-right: 1px solid #d2d9e1;
    border-top: 1px solid #d2d9e1;
    /* Убираем border-right у каждой третьей карточки */
    &:nth-child(3n) {
      border-right: none;
    }

    /* Убираем border-top у первых трех карточек */
    &:nth-child(-n + 3) {
      border-top: none;
    }
  }
}
