.contacts-card-link {
  position: relative;
  padding-left: calc(25px + 10px);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 700;

  &::before {
    content: "";
    // временно!
    background-color: green;
    background-image: url();
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  & + & {
    margin-top: 24px;
  }
}
