.header-logotype {
  display: flex;
  align-items: center;
  text-align: center;

  &__text {
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--yellow);


    & span {
      color: var(--white);
    }
  }

  &__image img {
    width: 45px;
    position: relative;
    left: 193px;
    top: -75px;
  }
}
