.header-contacts {
  display: grid;
  grid-template-columns: repeat(2, auto);

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icon {}

  &__phone {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
  }

  &__link {
    font-size: 12px;
    color: var(--white);
  }

}
