.header-navigation {
  padding-top: 20px;

<<<<<<< Updated upstream
<<<<<<< Updated upstream
  &__sub-item {}

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__sub-list {
    display: flex;
=======
=======
>>>>>>> Stashed changes

  &__sub-item {}

  &__list {
   
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  }

  &__sub-link {
    text-decoration: none;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    font-size: 12px;
    font-weight: 400;
    padding: 20px 25px;
    text-transform: uppercase;
    color: var(--white);
=======

>>>>>>> Stashed changes
=======

>>>>>>> Stashed changes
  }
}
