.header-navigation {
  padding-top: 20px;
  padding-bottom: 20px;

  &__list {
    display: grid;
    gap: 75px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    width: 100%;

  }

  &__item {

  }

  &__sub-item {}

  &__sub-list {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--yellow);
      transition: all 0.3s;
    }
  }

  &__sub-link {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 12px;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      inset: 1px;
      border: 1px solid transparent;
      transition: border-color .4s ease;
    }

    &:hover::before {
      border-color: var(--yellow);
    }
  }
}
