.header-contacts {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 13px;
    align-items: center;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icon {
    width: 44px;
    height: 44px;
  }

  &__link {
    font-size: 14px;
    color: var(--white);
    &:hover {
      transition: all 0.4s ease;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--yellow);
    }
    & + & {
      margin-top: 6px;
    }
    &.-phone {
      font-size: 16px;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        transition: all 0.4s ease;
        text-decoration: none;
      }
    }
    &.-mod-size {
      font-size: 16px;
      text-decoration: none;
      &:hover {
        transition: all 0.4s ease;
      }
    }
  }

  &__delivery {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;

    &:hover {
      transition: all 0.4s ease;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--yellow);
    }
  }
}
