.header-logotype {
  text-align: center;

  &__text {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--yellow);


    & span {
      color: var(--white);
    }
  }

  &__image {
    display: flex;
  }

  &__image img {

    width: 45px;
    height: 45px;
    position: relative;
    left: 200px;
    top: -78px;
  }
}
