.FIRST-SCREEN {
  background-color: #000;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0.85), #1e1e1e), url(../img/section/bg-1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
