body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  font-weight: 400;
  // остальное напиши сама

  // font-family: var(--font-family);
  // background-color: ;
  // font-size: ;
  // color: ;
}
