:root {
  --font-family: "GothamPro", sans-serif;

  --graphite: #1e1e1e;
  --white: #ffffff;
  --yellow: #ffe52c;

  --header-height: 165px;
}

@media (max-width: 1023px) {
}
@media (max-width: 767px) {
}
