.title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: var(--graphite);
  &.-color-mod {
    color: inherit;
  }

  @media (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media (max-width: 647px) {
    font-size: 16px;
    margin-bottom: 5px;
  }
  // делает цвет заголовка наследованным от родительских правил
  &.--mod-col {
    color: inherit;
  }
}
